Repository dzearing/office-ui-fabric-react, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dzearing, @kenotron, @ecraig12345, @JasonGore, @aftab-hassan, @davezuko, @layershifter, @levithomason, @miroslavstastny, @mnajdova, @jdhuntington, @jasongore, @pompomon, @silviuavram, @jurokapsiar, @natalieethell, @Jahnp, @Vitalius1, @Raghurk, @OfficeDev/uifabric-calendar, @lorejoh, @evlevy, @KatherineThayerMicrosoft, @jahnp, @bigbadcapers, @KevinTCoughlin, @aditima, @phkuo, @joschect, @khmakoto, @cliffkoh, @leddie24, @micahgodbolt, @yiminwu, @markionium, @mtennoe, @ThomasMichon, @atneik, @aneeshack4, @caradong, @srideshpande

Removing icon dep.
  packages/office-ui-fabric-react/package.json
  packages/office-ui-fabric-react/src/components/Icon/Icon.doc.tsx
  packages/office-ui-fabric-react/src/components/Icon/examples/Icon.SvgFactory.Example.tsx
Owners: @kenotron, @ecraig12345, @dzearing

changes.
  packages/fluentui/react-bindings/src/styles/resolveStyles.ts
  packages/merge-styles/src/transforms/provideUnits.ts
Owners: @davezuko, @layershifter, @levithomason, @miroslavstastny, @mnajdova, @jdhuntington, @dzearing, @jasongore, @pompomon, @silviuavram, @jurokapsiar

input proto
  packages/react-icons/src/utils/SvgIcon.styles.ts
  packages/react-next/src/components/Input/Input.scss
  packages/react-next/src/components/Input/Input.tsx
  packages/react-next/src/components/Input/Input.types.ts
  packages/react-next/src/components/Input/InputBase.tsx
  packages/react-next/src/components/Input/examples/Input.Example.tsx
  packages/react-next/src/components/Input/useInput.tsx
Owners: none

theme docs.
  packages/react-theme-provider/README.md
Owners: none

Lookup native props through objects.
  packages/office-ui-fabric-react/src/components/Button/BaseButton.tsx
  packages/office-ui-fabric-react/src/components/Callout/CalloutContent.base.tsx
  packages/utilities/etc/utilities.api.md
  packages/utilities/src/getNativeElementProps.ts
  packages/utilities/src/properties.test.ts
  packages/utilities/src/properties.ts
Owners: none

initial compose2.
  packages/react-button/src/components/Button2/Button.scss
  packages/react-button/src/components/Button2/Button.test.tsx
  packages/react-button/src/components/Button2/Button.tsx
  packages/react-button/src/components/Button2/Button.types.tsx
  packages/react-button/src/components/Button2/ButtonBase.tsx
  packages/react-button/src/components/Button2/__snapshots__/Button.test.tsx.snap
  packages/react-button/src/components/Button2/index.ts
  packages/react-button/src/components/Button2/stories/Button.stories.scss
  packages/react-button/src/components/Button2/stories/Button.stories.tsx
  packages/react-button/src/components/Button2/stories/ButtonTheming.stories.tsx
  packages/react-button/src/components/Button2/stories/ButtonTokens.stories.tsx
  packages/react-button/src/components/Button2/stories/Stack.scss.tsx
  packages/react-button/src/components/Button2/stories/Stack.tsx
  packages/react-button/src/components/Button2/stories/Text.tsx
  packages/react-button/src/components/Button2/useButton.ts
  packages/react-button/src/utils/tempTypes.ts
  packages/react-compose/src/compose2.tsx
  packages/react-compose/src/createClassResolver.ts
  packages/react-compose/src/index.ts
  packages/utilities/src/getNativeElementProps.ts
  packages/utilities/src/properties.ts
Owners: none

Iteration 1.
  packages/react-button/src/Button.ts
  packages/react-button/src/components/Button/Button.stories.tsx
  packages/react-button/src/components/Button2/Button.tsx
  packages/react-button/src/components/Button2/Button.types.tsx
  packages/react-button/src/components/Button2/ButtonBase.tsx
  packages/react-button/src/components/Button2/createButtonTheme.ts
  packages/react-button/src/components/Button2/stories/ButtonTokens.stories.tsx
  packages/react-button/src/components/Button2/useButtonBehavior.ts
  packages/react-button/src/components/Button2/useInlineTokens.ts
  packages/react-button/src/components/Button2/useVariantClass.tsx
  packages/react-compose/src/compose2.tsx
  packages/react-theme-provider/src/ThemeProvider.tsx
Owners: none

Updates.
  packages/react-button/src/components/Button2/stories/ButtonTheming.stories.tsx
  packages/react-button/src/components/Button2/stories/ButtonTokens.stories.tsx
  packages/react-button/src/components/Button2/stories/Stack.tsx
  packages/react-button/src/components/Button2/useVariantClass.tsx
  packages/react-compose/src/compose2.tsx
Owners: none

more updates.
  packages/utilities/etc/utilities.api.md
Owners: none

Scaffolding the base-theme package.
  packages/base-theme/.eslintrc.json
  packages/base-theme/.npmignore
  packages/base-theme/.npmrc
  packages/base-theme/LICENSE
  packages/base-theme/README.md
  packages/base-theme/just.config.ts
  packages/base-theme/package.json
  packages/base-theme/tsconfig.json
Owners: @kenotron, @ecraig12345, @dzearing

More updates.
  packages/react-button/etc/react-button.api.md
  packages/react-button/src/components/Button2/Button.scss
  packages/react-button/src/components/Button2/Button.test.tsx
  packages/react-button/src/components/Button2/Button.tsx
  packages/react-button/src/components/Button2/Button.types.tsx
  packages/react-button/src/components/Button2/ButtonBase.tsx
  packages/react-button/src/components/Button2/ButtonVariants.ts
  packages/react-button/src/components/Button2/index.ts
  packages/react-button/src/components/Button2/makeButtonVariants.tsx
  packages/react-button/src/components/Button2/stories/Button.stories.tsx
  packages/react-button/src/components/Button2/stories/ButtonTokens.stories.tsx
  packages/react-button/src/components/Button2/useButton.ts
  packages/react-button/src/components/Button2/useButtonBehavior.ts
  packages/react-button/src/components/Button2/useInlineTokens.ts
  packages/react-button/src/components/Button2/useVariantClass.tsx
  packages/react-button/src/index.ts
  packages/react-compose/etc/react-compose.api.md
  packages/react-compose/src/compose2.tsx
  packages/react-compose/src/index.ts
  packages/react-compose/src/staging/applyHooks.tsx
  packages/react-compose/src/staging/compose.tsx
  packages/react-compose/src/staging/getSlots.tsx
  packages/react-compose/src/staging/index.ts
  packages/react-compose/src/staging/mergeComposeOptions.tsx
  packages/react-compose/src/staging/mergeObjects.tsx
  packages/react-compose/src/staging/nullRender.tsx
  packages/react-compose/src/staging/simplifyShorthand.tsx
  packages/react-compose/src/staging/types.tsx
  packages/react-theme-provider/src/ThemeProvider.tsx
Owners: none

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo.
# Unless a later match takes precedence, @global-owner1 and @global-owner2
# will be requested for review when someone opens a pull request.
# *   @global-owner1 @global-owner2

# Order is important; the last matching pattern takes the most precedence.
# When someone opens a pull request that only modifies JS files, only @js-owner
# and not the global owner(s) will be requested for a review.
# *.js@js-owner

# You can also use email addresses if you prefer. They'll be used to look up
# users just like we do for commit author emails.
# docs/  docs@example.com

#### Core build stuff
scripts/ @dzearing @kenotron @ecraig12345
package.json @kenotron @ecraig12345 @dzearing
prettier.config.js @ecraig12345 @kenotron
webpack.config.js @kenotron @ecraig12345
webpack.serve.config.js @kenotron @ecraig12345
jest.config.js @kenotron @ecraig12345
tsconfig.json @kenotron @ecraig12345
lerna.json @kenotron @ecraig12345
LICENSE @kenotron @ecraig12345
azure-pipelines.yml @ecraig12345 @kenotron @JasonGore
azure-pipelines.*.yml @ecraig12345 @kenotron @JasonGore
.appveyor.yml @kenotron @ecraig12345
.npmrc @kenotron @ecraig12345
.npmignore @kenotron @ecraig12345
sizeauditor.json @aftab-hassan

#### Fluent UI
packages/fluentui/ @davezuko @layershifter @levithomason @miroslavstastny @mnajdova @jdhuntington @dzearing @jasongore @pompomon @silviuavram @jurokapsiar

#### Deprecated API Files
*.api.ts @natalieethell

#### Apps
# component-demo/
fabric-website/ @ecraig12345 @Jahnp
fabric-website-resources/ @ecraig12345
perf-test/ @JasonGore
# ssr-tests/
# test-bundle-button/ @dzearing
# todo-app/
Controls/web.tsx @Vitalius1 @natalieethell

#### Packages
packages/charting/ @Raghurk
packages/date-time @OfficeDev/uifabric-calendar @lorejoh @evlevy
packages/example-app-base/ @ecraig12345
packages/file-type-icons/  @KatherineThayerMicrosoft @jahnp @bigbadcapers
packages/foundation/ @JasonGore
# packages/icons/
# packages/jest-serializer-merge-styles/
packages/lists/ @dzearing @KevinTCoughlin @aditima
packages/merge-styles/ @dzearing
packages/migration/ @ecraig12345 @kenotron
packages/monaco-editor/ @ecraig12345
packages/react-hooks/ @ecraig12345
packages/styling/ @dzearing
packages/styling/src/interfaces/ @phkuo
packages/styling/src/styles/ @phkuo
packages/tslint-rules/ @ecraig12345 @kenotron
packages/tsx-editor/ @ecraig12345
# packages/utilities/
packages/utilities/positioning/ @joschect

### Fabric
# common/
common/_semanticSlots.scss  @phkuo
common/_themeOverrides.scss @phkuo
common/_common.scss @phkuo

## Components
packages/react/current/src/components/Accordion/ @JasonGore
packages/react/current/src/components/ActivityItem/ @jdhuntington
packages/react/current/src/components/Announced/ @natalieethell
packages/react/current/src/components/Breadcrumb/ @jdhuntington
packages/react/current/src/components/Button/ @khmakoto
packages/react/current/src/components/Calendar/ @OfficeDev/uifabric-calendar @lorejoh
packages/react/current/src/components/Callout/ @joschect
packages/react/current/src/components/react-cards/Card/  @khmakoto
packages/react/current/src/components/Check/ @KevinTCoughlin
packages/react/current/src/components/Checkbox/ @cliffkoh
packages/react/current/src/components/ChoiceGroup/ @ecraig12345
packages/react/current/src/components/Coachmark/ @leddie24
packages/react/current/src/components/CollapsibleSection/ @JasonGore
packages/react/current/src/components/ColorPicker/ @ecraig12345
packages/react/current/src/components/ComboBox/ @joschect
packages/react/current/src/components/CommandBar/ @micahgodbolt @joschect
packages/react/current/src/components/ContextualMenu/ @joschect
packages/react/current/src/components/DatePicker/ @OfficeDev/uifabric-calendar @lorejoh
packages/react/current/src/components/DetailsList/ @KevinTCoughlin
packages/react/current/src/components/Dialog/ @JasonGore
packages/react/current/src/components/DocumentCard/ @yiminwu
packages/react/current/src/components/Dropdown/ @joschect
packages/react/current/src/components/Fabric/ @dzearing
packages/react/current/src/components/Facepile/ @markionium @mtennoe
packages/react/current/src/components/FolderCover/ @ThomasMichon @bigbadcapers
packages/react/current/src/components/FocusTrapZone/ @JasonGore
packages/react/current/src/components/FocusZone/ @khmakoto
packages/react-focus/src/components/FocusZone/ @khmakoto
packages/react/current/src/components/GroupedList/  @aditima @KevinTCoughlin
packages/react/current/src/components/HoverCard/   @atneik @Jahnp @Vitalius1
packages/react/current/src/components/Icon/ @dzearing @ecraig12345
packages/react/current/src/components/Image/ @dzearing
packages/react/current/src/components/Label/ @cliffkoh
packages/react/current/src/components/Layer/  @ThomasMichon @JasonGore
packages/react/current/src/components/Link/ @khmakoto
packages/react/current/src/components/List/ @KevinTCoughlin
packages/react/current/src/components/MarqueeSelection/ @dzearing
packages/react/current/src/components/MessageBar/ @ecraig12345
packages/react/current/src/components/Modal/ @JasonGore
packages/react/current/src/components/Nav/ @jdhuntington
packages/react/current/src/components/OverflowSet/ @micahgodbolt
packages/react/current/src/components/Overlay/ @aneeshack4
packages/react/current/src/components/Pagination/ @caradong
packages/react/current/src/components/Panel/ @aneeshack4
packages/react/current/src/components/Persona/ @markionium @mtennoe
packages/react/current/src/components/PersonaCoin/ @mtennoe @markionium
packages/react/current/src/components/Persona/PersonaConsts.tsx @mtennoe
packages/react/current/src/components/pickers/  @joschect
packages/react/current/src/components/Pivot/ @jdhuntington
packages/react/current/src/components/Popup/ @JasonGore
packages/react/current/src/components/ProgressIndicator/ @aneeshack4
packages/react/current/src/components/Rating/ @jdhuntington
packages/react/current/src/components/ResizeGroup/ @micahgodbolt
packages/react/current/src/components/SearchBox/ @ecraig12345
packages/react/current/src/components/Separator/ @natalieethell
packages/react/current/src/components/Shimmer/ @Vitalius1 @atneik
packages/react/current/src/components/Signals/ @ThomasMichon
packages/react/current/src/components/Slider/ @aneeshack4
packages/react/current/src/components/SpinButton/ @aneeshack4
packages/react/current/src/components/Spinner/ @aneeshack4
packages/react/current/src/components/Stack/  @khmakoto
packages/react/current/src/components/SwatchColorPicker/ @ecraig12345
packages/react/current/src/components/TeachingBubble/ @micahgodbolt
packages/react/current/src/components/Text/ @natalieethell
packages/react/current/src/components/TextField/ @ecraig12345
packages/react/current/src/components/Theme/ @JasonGore
packages/react/current/src/components/Tile/ @ThomasMichon
packages/react/current/src/components/TileList/ @ThomasMichon
packages/react/current/src/components/Toggle/  @phkuo
packages/react/current/src/components/Tooltip/ @micahgodbolt
packages/experiments/src/components/Toggle/  @khmakoto @JasonGore

## Docs
# packages/react/current/src/components/ActivityItem/docs/
packages/react/current/src/components/Announced/docs/ @natalieethell
# packages/react/current/src/components/Breadcrumb/docs/
packages/react/current/src/components/Button/docs/  @khmakoto
packages/react/current/src/components/Calendar/docs/   @OfficeDev/uifabric-calendar @lorejoh
packages/react/current/src/components/Callout/docs/  @joschect
packages/react/current/src/components/react-cards/Card/docs/  @khmakoto
# packages/react/current/src/components/Check/docs/
# packages/react/current/src/components/Checkbox/docs/
packages/react/current/src/components/ChoiceGroup/docs/   @srideshpande
# packages/react/current/src/components/ColorPicker/docs/
# packages/react/current/src/components/ComboBox/docs/
packages/react/current/src/components/CommandBar/docs/   @micahgodbolt
packages/react/current/src/components/ContextualMenu/docs/  @joschect
packages/react/current/src/components/DatePicker/docs/   @OfficeDev/uifabric-calendar @lorejoh
packages/react/current/src/components/DetailsList/docs/ @KevinTCoughlin
# packages/react/current/src/components/Dialog/docs/
packages/react/current/src/components/DocumentCard/docs/ @yiminwu
# packages/react/current/src/components/Dropdown/docs/
# packages/react/current/src/components/Fabric/docs/
# packages/react/current/src/components/Facepile/docs/
# packages/react/current/src/components/FocusTrapZone/docs/
# packages/react/current/src/components/FocusZone/docs/
packages/react/current/src/components/GroupedList/docs/  @aditima @KevinTCoughlin
packages/react/current/src/components/HoverCard/docs/   @atneik @Jahnp @Vitalius1
# packages/react/current/src/components/Icon/docs/
# packages/react/current/src/components/Image/docs/
# packages/react/current/src/components/Label/docs/
packages/react/current/src/components/Layer/docs/  @ThomasMichon
packages/react/current/src/components/Link/docs/  @khmakoto
packages/react/current/src/components/List/docs/ @KevinTCoughlin
# packages/react/current/src/components/MarqueeSelection/docs/
# packages/react/current/src/components/MessageBar/docs/
# packages/react/current/src/components/Modal/docs/
# packages/react/current/src/components/Nav/docs/
packages/react/current/src/components/OverflowSet/docs/  @micahgodbolt
# packages/react/current/src/components/Overlay/docs/
# packages/react/current/src/components/Panel/docs/
packages/react/current/src/components/Persona/docs/ @markionium @mtennoe
packages/react/current/src/components/pickers/docs/  @joschect
# packages/react/current/src/components/Pivot/docs/
# packages/react/current/src/components/Popup/docs/
# packages/react/current/src/components/ProgressIndicator/docs/
# packages/react/current/src/components/Rating/docs/
packages/react/current/src/components/ResizeGroup/docs/  @micahgodbolt
# packages/react/current/src/components/SearchBox/docs/
packages/react/current/src/components/Separator/docs/ @natalieethell
packages/react/current/src/components/Shimmer/docs/ @Vitalius1 @atneik
# packages/react/current/src/components/Slider/docs/
# packages/react/current/src/components/SpinButton/docs/
# packages/react/current/src/components/Spinner/docs/
packages/react/current/src/components/Stack/docs/  @khmakoto
# packages/react/current/src/components/SwatchColorPicker/docs/
packages/react/current/src/components/TeachingBubble/docs/   @micahgodbolt
packages/react/current/src/components/Text/docs/ @natalieethell
# packages/react/current/src/components/TextField/docs/
# packages/react/current/src/components/Theme/docs/
packages/react/current/src/components/Toggle/docs/  @phkuo
packages/react/current/src/components/Tooltip/docs/  @micahgodbolt
